.vscode
__pycache__
.idea

*.bak
datasets/heart/task2/
datasets/heart/task2/Train/
datasets/heart/task2/*.csv
models/*.pth
models/*.pkl
models/ckpt/*.zip
models/ckpt/*.pkl
models/ckpt/*.pth
outputs/results/*.png
outputs/results/*.csv
outputs/results/*.npy
outputs/logs/ecg-*
outputs/logs/*.log
outputs/logs/*.csv
outputs/results/answer/*.csv
outputs/results/answer/answer.csv
outputs/results/feature/*.csv
outputs/results/labels/*.csv
outputs/results/feature/*.txt
